aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-doc
annotated-types
anyio
asyncua
attrs
bidict
certifi
cffi
click
cryptography
docutils
fastapi
frozenlist
h11
httpcore
httptools
httpx
idna
ifaddr
itsdangerous
Jinja2
lxml
markdown2
MarkupSafe
multidict
nicegui
numpy
orjson
pandas
propcache
pycomm3
pycparser
pydantic
pydantic_core
Pygments
pylogix
pymodbus
pyOpenSSL
pyserial
python-dateutil
python-dotenv
python-engineio
python-multipart
python-socketio
pytz
PyYAML
simple-websocket
six
sortedcontainers
starlette
typing_extensions
typing-inspection
uvicorn
uvloop
wait-for2
watchfiles
websockets
wsproto
yarl
